.blur {
background: rgba( 65, 120, 193, 0.70 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3.0px );
-webkit-backdrop-filter: blur( 3.0px );
border-radius: 10px;
}

.basic {
    background: rgba( 18, 30, 46, 0.70 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0.0px );
-webkit-backdrop-filter: blur( 0.0px );
border-radius: 10px;
  }
  .blur {
    position: absolute;
    bottom: 25px;
    right: 162px;
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
  }